body{
    font-family: 'Gilroy';
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 90px;
    text-transform: uppercase;

    color: #353F63;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 40px;
}
a{
    text-decoration: none;
}
p{
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;

    color: #353F63;
}
.container{
    width: 100%;
    max-width: 1163px;
    margin: 0 auto;
}
header{
    width: 100%;

    background: #080809;
    padding: 55px 0 26px;
    color: #fff;
    .container{
        display: flex;
        justify-content: space-between;
        .header__logo{
            margin: auto 0;
        }
        .header__text{
            display: flex;
            margin: auto 0;
            p{
                padding-right: 45px;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
    
                color: #FFFFFF;
            }
            a{
                margin: auto 0;
                span{
                    width: 66px;
                    height: 4px;
                    display: block;
                    margin-bottom: 5px;
    
                    background: #F8F8F8;
                }
            }
            a:hover{
                span{
                    background: #c7c7c7;
                }
            }
        }
    }
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    width: 100%;
    height: 100%;
    display: block;
    background: rgba(8, 8, 9, 0.5);
}
.hidden{
    display: none;
}
.visible{
    display: flex;
    flex-direction: column;
}
.header__menu{
    width: 640px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 7;
    background: #F8F8F8;
    padding-left: 40px;
    padding-top: 65px;
    padding-right: 140px;
    animation: menu .3s linear forwards;
    a{  
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 55px;

        color: #080809;
        padding-bottom: 10px;
        img{
            margin-left: 16px;
        }
    }
    a:hover{
        color: #53535c;
    }
    .burger{
        width: 100%;
        display: flex;
        text-align: right;
        justify-content: flex-end;
        a{
            width: 10%;
            span{
                width: 66px;
                height: 4px;
                display: block;
                margin-bottom: 5px;
    
                background: #080809;
            }
        }
        a:hover{
            span{
                background: #53535c;
            }
        }
    }
    .menu__sub{
        
        a{
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
        }
    }
    .rot{
        transform: rotate(-45deg);
    }
}
.main{
    width: 100%;
    height: 351px;
    display: flex;
    background: url("../IMG/industry.png") center no-repeat;
    background-size: 100%;

    .container{
        height: 370px;
        padding: 35px 0px 20px;
        background: rgba(8, 8, 9, 0.2);
        backdrop-filter: blur(15px);
    }
}
.main__eng{
    width: 100%;
    height: 351px;
    display: flex;
    background: url("../IMG/industry.png") center no-repeat;
    background-size: 100%;

    .container{
        height: 420px;
        padding: 35px 0px 20px;
        background: rgba(8, 8, 9, 0.2);
        backdrop-filter: blur(15px);
    }
}
.industry{
    width: 100%;
    padding: 95px 0 103px;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .industry__block{
            width: 360px;
            height: 251px;
            background: #F8F8F8;
            text-align: center;
            margin: 20px 0;
            padding: 5px 10px;
            transition: all linear .5s;

            .block__img{
                width: 100%;
                height: 220px;
                display: flex;
                justify-content: center;
            }
            .block__title{
                width: 100%;
                height: 30px;
                flex-shrink: 0;
                display: flex;
                justify-content: flex-start;
                p{
                    text-align: left;
                    margin: 0;
                    padding: 0;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;

                    color: #353F63;
                }
            }
        }
        .industry__block:hover{
            cursor: pointer;
            background: #FFFFFF;
            filter: drop-shadow(0px 0px 60px #7A7A7A);
        }
    }
}
.engenering{
    width: 100%;
    padding: 120px 0 103px;
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .engenering__block{
            width: 360px;
            height: 269px;
            background: #F8F8F8;
            text-align: center;
            margin: 20px 0;
            padding: 10px;
            transition: all linear .5s;

            .block__img{
                width: 100%;
                height: 220px;
                display: flex;
                justify-content: center;
                position: relative;
                .img{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .img__block{
                        width: 100%;
                        height: 100%;
                        margin-top: 15px;
                    }
                    .slick-track{
                        display: flex;
                    }
                    .slick-list{
                        overflow: hidden;
                    }
                    .slick-dots{
                        width: 100%;
                        list-style: none;
                        display: flex;
                        position: absolute;
                        top: 0;
                        justify-content: center;
                        margin: 0;
                        padding: 0;
                        z-index: 5;
                        .slick-active{
                            width: 44px;
                            height: 4px;
                            background: #353F63;
                            border: none;
                            margin-right: 14px;
                            margin-top: 2px;
                            button{
                                background: none;
                            }
                        }
                        button{
                            
                            width: 44px;
                            height: 4px;
                            margin-right: 14px;
                            color: transparent;
                            background: rgba(53, 63, 99, 0.3);
                            border: none;
                            
                        }
                    }
                }
            }
            .block__title{
                width: 100%;
                height: 30px;
                flex-shrink: 0;
                display: flex;
                justify-content: flex-start;
                p{
                    text-align: left;
                    margin: 0;
                    padding: 0;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;

                    color: #353F63;
                }
            }
        }
        .engenering__block:hover{
            cursor: pointer;
            background: #FFFFFF;
            filter: drop-shadow(0px 0px 60px #7A7A7A);
        }
    }
}
.description{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(8, 8, 9, 0.5);
    .description__block{
        width: 1020px;
        height: 563px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        
        background: #FFFFFF;
        box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.6);
        .block__cross{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: flex-end;
            padding-top: 33px;
            padding-right: 33px;
            img{
                width: 27px;
                height: 27px;
                margin: auto 0;
                transform: rotate(-45deg);
            }
            img:hover{
                opacity: .8;
                cursor: pointer;
            }
        }
        .block__left{
            width: 60%;
            height: 90%;
            text-align: center;
            h3{
                margin: 0;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;

                text-transform: uppercase;

                color: #353F63;
                margin-bottom: 26px;
            }
            img{
                width: 80%;
                padding: 46px 25px;
                border: 0.5px solid #353F63;
            }
        }
        .block__right{
            width: 40%;
            height: 95%;
            ul{
                margin: 0;
                li{
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 35px;
                    text-transform: uppercase;

                    color: #646464;
                }
            }
        }
    }
}
footer{
    width: 100%;
    padding: 45px 0;

    background: #080809;
    .container{
        .footer__logo{
            display: flex;
            p{
                font-weight: 600;
                font-size: 18px;

                color: #F8F8F8;
                margin: 0;
                margin-left: 27px;
            }
        }
        .footer__text{
            width: 100%;
            border-bottom: 1px solid #F8F8F8;
            p{
                font-style: normal;
                font-weight: 300;
                font-size: 18px;

                color: #F8F8F8;
                margin: 0;
                margin-top: 42px;
                line-height: 150%;
                padding-bottom: 19px;
            }
        }
        .footer__links{
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .links__block{
                display: flex;
                p{
                    padding-left: 10px;
                    font-weight: 300;
                    font-size: 15px;

                    color: #FFFFFF;
                }
            }
        }
    }
}
@media(max-width:1160px){
    .container{
        max-width: 800px;
    }
    p{
        font-size: 35px;
        line-height: 37px;
    }
    footer{
        .container{
            .footer__links{
                flex-direction: column;
            }
        }
    }

}
@media(max-width:800px){
    .container{
        max-width: 500px;
    }
    h2{
        font-size: 36px;
        line-height: 40px;
    }
    p{
        font-size: 25px;
        line-height: 30px;
    }
    .header__menu{
        width: 100%;
        padding: 0;
        padding-left: 35px;
        top: 0;
        left: 0;
        a{  
            font-size: 24px;
            line-height: 55px;
            img{
                margin-left: 16px;
            }
        }
        .menu__sub{
            a{
                font-size: 15px;
                line-height: 30px;
            }
        }
        .burger{
            width: 70%;
            margin-top: 45px;
        }
    }
    .main__eng{
        .container{
            height: 250px;
        }
    }
    .main{
        .container{
            height: 250px;
        }
    }
    .engenering{
        padding: 20px 0 103px;
        .container{
            .engenering__block{
                margin: 20px auto;
            }
        }
    }
    .description{
        .description__block{
            width: 375px;
            height: 100%;
            .block__cross{
                height: auto;
                padding: 0;
                padding-top: 18px;
                padding-right: 35px;
            }
            .block__left{
                width: 100%;
                height: auto;
                h3{
                    font-size: 18px;
    
                    text-transform: uppercase;
    
                    color: #353F63;
                    margin-bottom: 26px;
                }
                img{
                    width: 80%;
                    padding: 46px 25px;
                    border: 0.5px solid #353F63;
                }
            }
            .block__right{
                width: 100%;
                height: auto;
                ul{
                    li{
                        font-size: 14px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
}
@media(max-width:550px){
    .container{
        max-width: 320px;
    }
    .header__menu{
        width: 100%;
        padding: 0;
        padding-left: 35px;
        top: 0;
        left: 0;
        a{  
            font-size: 24px;
            line-height: 55px;
            img{
                margin-left: 16px;
            }
        }
        .menu__sub{
            a{
                font-size: 15px;
                line-height: 30px;
            }
        }
        .burger{
            width: 70%;
            margin-top: 45px;
        }
    }
    h2{
        padding: 0;
        padding: 12px 8px;
        font-size: 36px;
        line-height: 40px;
        background: rgba(8, 8, 9, 0.2);
        backdrop-filter: blur(15px);
    }
    p{
        font-size: 18px;
        line-height: 25px;
        color: #353F63;
        font-weight: 500;
    }
    .main__eng{
        width: 100%;
        height: 375px;
        background-size: cover;
    
        .container{
            height: 420px;
            padding: 35px 0px 20px;
            background: none;
            backdrop-filter: none;
        }
    }
    .main{
        width: 100%;
        height: 375px;
        background-size: cover;
    
        .container{
            height: 420px;
            padding: 35px 0px 20px;
            background: none;
            backdrop-filter: none;
        }
    }
    .engenering{
        .container{
            flex-direction: column;
            flex-wrap: nowrap;
            .engenering__block{
                width: 305px;
            }
        }
    }
    footer{
        .container{
            .footer__links{
                flex-wrap: wrap;
                .links__block{
                    width: 100%;
                    p{
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
@keyframes menu{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}