body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #111;
    z-index: 1001;
}
.preloader__image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../IMG/loader.gif') no-repeat;
    background-size: contain;
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}
h1{
    font-family: 'Gilroy';
    font-style: italic;
    font-weight: 300;
    font-size: 72px;
    line-height: 90px;

    text-align: center;
    text-transform: uppercase;

    color: #F8F8F8;
    span{
        font-weight: 700;
    }
}
p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 55px;


    color: #353F63;
}
a{
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
}
h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 70px;

    color: #353F63;
}
h3{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: #353F63;
}
.container{
    width: 100%;
    max-width: 1161px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.mobile{
    display: none;
}
header{
    display: flex;
    width: 100%;

    background: #050505;
    margin: 0 auto;
    padding: 30px 0;
    color: #fff;
    .container{
        flex-direction: row;
        justify-content: space-between;
        .header__logo{
            margin: auto 0;
        }
        .header__text{
            display: flex;
            margin: auto 0;
            p{
                padding-right: 45px;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
    
                color: #FFFFFF;
            }
            a{
                margin: auto 0;
                span{
                    width: 66px;
                    height: 4px;
                    display: block;
                    margin-bottom: 5px;
    
                    background: #F8F8F8;
                }
            }
            a:hover{
                span{
                    background: #c7c7c7;
                }
            }
        }
    }
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    animation: menu .3s linear forwards;
    background: #050505;
    .container{
        position: relative;
        margin: 0 auto;
    }
}

.hidden{
    display: none;
}
.visible{
    display: flex;
    flex-direction: column;
}
.header__menu{
    width: 40%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;

    background: #F8F8F8;
    padding-left: 40px;
    padding-top: 65px;
    padding-right: 140px;
    animation: menu .3s linear forwards;
    a{  
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 55px;

        color: #080809;
        padding-bottom: 10px;
        img{
            margin-left: 16px;
        }
    }
    a:hover{
        color: #53535c;
    }
    .burger{
        width: 100%;
        display: flex;
        text-align: right;
        justify-content: flex-end;
        a{
            width: 10%;
            span{
                width: 66px;
                height: 4px;
                display: block;
                margin-bottom: 5px;
    
                background: #080809;
            }
        }
        a:hover{
            span{
                background: #53535c;
            }
        }
    }
    .menu__sub{
        
        a{
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
        }
    }
}
.rot{
    transform: rotate(-45deg);
}
.main{
    width: 100%;
    min-height: 100vh;
    background: url("../IMG/main fon.jpg") center no-repeat;
    background-size: cover;
    margin-top: -155px;
    .container{
        h1{
            margin-top: 231px;
            padding: 82px 0 40px;
            background: url("../IMG/logo fon.svg") center no-repeat;
        }
        a{
            width: 5%;
            text-align: center;
            margin: 0 auto;
            margin-top: 64.5px;
            transition: all linear .5s;
            img{
                width: 41px;
                height: 16px;
            }
        }
        a:hover{
            cursor: pointer;
            opacity: .5;
            img{
                width: 50px;
                height: 20px;
            }
        }
    }
}
.about{
    width: 100%;
    background: #F8F8F8;
    box-shadow: inset 0px 0px 30px #B0B0B0;
    
    .container{
        padding: 55px 0 71px;

        .about__buttons{
            margin: 0 auto;
            padding: 4.5px;
            border: 0.8px solid rgba(164, 164, 164, 0.5);
            
            a{
                padding: 9px 32px;
                font-weight: 500;
                font-size: 27px;
                line-height: 52px;

                color: #353F63;
                cursor: pointer;
                transition: all linear .2s;
            }
            a:hover{
                color: #FFFFFF;
                background: #353F63;
            }
            .active{
                color: #FFFFFF;
                background: #353F63;
            }
        }
        p{
            padding: 47px 0 37px;
            background: url("../IMG/Aboutus.svg") center no-repeat;
            background-size: contain;
            animation: menu .5s linear forwards;
        }
        p:last-child{
            padding: 47px 0 37px;
            background: url("../IMG/History.svg") top no-repeat;
            background-size: contain;
            animation: menu .5s linear forwards;
        }
    }
}
.product{
    width: 100%;
    .container{
        padding: 76px 0 60px;
        h2{
            padding: 82px 0;
            padding-left: 16px;
            margin: 0;
            background: url("../IMG/portfolio.svg") left no-repeat;
            background-size: contain;
        }
        .product__portfolio{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 65px;
            .portfolio__block{
                width: 199px;
                height: 293px;
                display: flex;
                position: relative;
                background: #F8F8F8;
                justify-content: center;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
        .product__portfolio:last-child{
            .portfolio__block{
                width: 260px;
                height: 360px;
            }
        }
        .product__slider1{
            display: none;
        }
        .product__slider2{
            display: none;
        }
    }
}
.reviews{
    width: 100%;
    padding-bottom: 113px;
    .container{
        h2{
            width: 50%;
            padding: 82px 0;
            background: url("../IMG/Reviews.svg") left no-repeat;
            background-size: contain;
        }
    }
    .reviews__content{
        width: 100%;
        position: relative;
        .reviews__opacity{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;

            background: url("../IMG/fongrad.png") center no-repeat;
            background-size: 100%;

        }
        .reviews__slider{
            display: flex;
            .slider__block{
                width: 260px;
                height: 360px;
                padding: 23px 19px;
                margin: 0 20px;
                background: #F8F8F8;
                position: relative;
                span{
                    width: 100%;
                    height: 1px;
                    display: block;
                    background:#353F63;
                }
                p{
                    padding-top: 39px;
                    margin: 0;
                    font-size: 14px;
                    line-height: 20px;
    
                    color: #080809;
                }
            }
            .slick-prev{
                width: 28px;
                height: 59px;
                position: absolute;
                top: 40%;
                left: 12%;
                z-index: 3;
                background: none;
                border: none;
                cursor: pointer;
            }
            .slick-next{
                width: 28px;
                height: 59px;
                position: absolute;
                top: 40%;
                right: 12%;
                z-index: 3;
                background: none;
                border: none;
                cursor: pointer;
            }
            .slick-slide:first-child{
                opacity: .5;
            }
            
        }
        .reviews__slidermob{
            display: none;
            position: relative;
            .slider__block{
                width: 260px;
                height: 360px;
                padding: 23px 19px;
                margin: 0 20px;
                background: #F8F8F8;
                position: relative;
                span{
                    width: 100%;
                    height: 1px;
                    display: block;
                    background:#353F63;
                }
                p{
                    padding-top: 39px;
                    margin: 0;
                    font-size: 14px;
                    line-height: 20px;
    
                    color: #080809;
                }
            }
            .slick-slide{
                width: 288px;
                margin: 0 60px;
            }
            .slick-prev{
                width: 28px;
                height: 59px;
                position: absolute;
                top: 40%;
                left: 0%;
                z-index: 3;
                background: none;
                border: none;
                cursor: pointer;
            }
            .slick-next{
                width: 28px;
                height: 59px;
                position: absolute;
                top: 40%;
                right: 2%;
                z-index: 3;
                background: none;
                border: none;
                cursor: pointer;
            }
            .slick-slide:first-child{
                opacity: .5;
            }
            .slick-dots{
                width: 100%;
                list-style: none;
                display: flex;
                position: absolute;
                bottom: -5%;
                justify-content: center;
                margin: 0;
                padding: 0;
                z-index: 10;
                .slick-active{
                    width: 44px;
                    height: 4px;
                    background: #353F63;
                    border: none;
                    margin-right: 14px;
                    margin-top: 2px;
                    button{
                        background: none;
                    }
                }
                button{
                    
                    width: 44px;
                    height: 4px;
                    margin-right: 14px;
                    color: transparent;
                    background: rgba(53, 63, 99, 0.3);
                    border: none;
                    
                }
            }
        }
    }
}
.conditions{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    .container{
        h2{
            width: 60%;
            padding: 82px 0;
            padding-left: 16px;
            margin: 0;
            margin-bottom: 60px;
            background: url("../IMG/Conditions.svg") left no-repeat;
            background-size: contain;
        }
    }
    .conditions__tet{
        width: 100%;
        margin-bottom: 5px;

        background: #F8F8F8;
        padding: 38px 0;
        cursor: pointer;
        .container{
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            p{
                width: 90%;
                font-weight: 400;
                font-size: 24px;
                margin: 0;
            }
            a{
                margin: auto;
            }
            p:last-child{
                width: 100%;
                font-size: 18px;
                line-height: 25px;
                margin: 0;
            }
        }
    }
}
.partner{
    width: 100%;
    padding-bottom: 123px;
    .container{
        h2{
            width: 60%;
            padding: 82px 0;
            padding-left: 16px;
            margin: 0;
            background: url("../IMG/Key partnerships.svg") left no-repeat;
            background-size: contain;
        }
        p{
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            text-align: left;
            padding: 60px 0 100px;
        }
    }
    .partner__slider{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .partner__block{
            max-width: 151px;
            height: 139px;

            display: flex;
            flex-direction: column;

            background: #353F63;
            margin: 0 18px;
            img{
                margin: auto;
            }
            b{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 55px;
                text-align: center;

                color: #FFFFFF;
            }
        }
    }
    .partner__slider2{
        margin-top: 30px;
        width: 100%;
        display: none;
        justify-content: space-between;
        .partner__block{
            max-width: 151px;
            height: 139px;

            display: flex;
            flex-direction: column;

            background: #353F63;
            margin: 0 18px;
            img{
                margin: auto;
            }
            b{
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 55px;
                text-align: center;

                color: #FFFFFF;
            }
        }
    }
}
.compositions{
    width: 100%;
    .container{
        h2{
            width: 100%;
            padding: 82px 0;
            padding-left: 16px;
            margin: 0;
            margin-bottom: 23px;
            background: url("../IMG/Personnel potential composition.svg") left no-repeat;
            background-size: contain;
        }
    }
    .compositions__text{
        width: 100%;
        background: #F8F8F8;
        box-shadow: inset 0px 0px 30px #B0B0B0;
        padding: 110px 0 41px;
        .container{
            p{
                font-size: 24px;
                line-height: 40px;
            }
            a{
                margin-top: 43px;
                text-align: right;
                font-weight: 800;
                font-size: 30px;

                color: #353F63;
            }
            a:hover{
                color: #555966;
            }
        }
    }
}
footer{
    width: 100%;
    padding: 45px 0;

    background: #080809;
    .container{
        .footer__logo{
            display: flex;
            p{
                font-weight: 600;
                font-size: 18px;

                color: #F8F8F8;
                margin: 0;
                margin-left: 27px;
            }
        }
        .footer__text{
            width: 100%;
            border-bottom: 1px solid #F8F8F8;
            p{
                font-style: normal;
                font-weight: 300;
                font-size: 18px;

                color: #F8F8F8;
                margin: 0;
                margin-top: 42px;
                line-height: 150%;
                padding-bottom: 19px;
            }
        }
        .footer__links{
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            .links__block{
                display: flex;
                p{
                    padding-left: 10px;
                    font-weight: 300;
                    font-size: 18px;

                    color: #FFFFFF;
                }
            }
        }
    }
}
@media(max-width:1160px){
    .container{
        max-width: 800px;
    }
    .preloader {
        background: rgb(0, 0, 0);
    }
    .preloader__image {
        top: 30%;
    }
    .main{
        padding-bottom: 50px;
    }
    .about{
        .container{
            p{
                font-size: 28px;
            }
        }
    }
    .product{
        .container{
            .product__portfolio{
                .portfolio__block{
                    width: 250px;
                    height: 293px;
                    margin: 5px auto;
                }
            }
            .product__portfolio:last-child{
                .portfolio__block{
                    width: 280px;
                    height: 360px;
                }
            }
        }
    }
    .reviews{
        .reviews__content{
            .reviews__slider{
                .slider__block{
                    width: 300px;
                    height: 230px;
                    p{
                        padding-top: 10px;
                        font-size: 10px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
    .partner{
        .container{
            p{
                padding: 20px 0 100px;
            }
        }
    }
    footer{
        .container{
            .footer__links{
                flex-wrap: wrap;
                .links__block{
                    width: 100%;
                }
            }
        }
    }
}
@media(max-width:800px){
    .container{
        max-width: 500px;
    }
    .preloader {
        background: rgb(0, 0, 0);
    }
    .preloader__image {
        top: 30%;
    }
    h1{
        font-size: 40px;
        line-height: 50px;
    }
    h2{
        font-size: 40px;
        line-height: 46px;
    }
    header{
        .header__text{
            p{
                display: none;
            }
        }
    }
    .sticky{
        padding: 10px 0;
    }
    .header__menu{
        a{  
            font-size: 20px;
            line-height: 30px;
            img{
                margin-left: 16px;
            }
        }
        .menu__sub{
        
            a{
                font-weight: 400;
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
    .about{
        .container{
            p{
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    .product{
        .container{
            max-width: 100%;
            .product__portfolio{
                display: none;
                .portfolio__block{
                    width: 300px;
                }
            }
            .product__slider1{
                display: flex;
                padding-top: 30px;
                .portfolio__block{
                    width: 180px;
                    height: 268px;
                    display: flex;
                    img{
                        width: 90%;
                        margin: auto;
                    }
                }
            }
            .product__slider2{
                display: flex;
                padding-top: 50px;
                display: flex;
                .portfolio__block{
                    width: 185px;
                    height: 257px;
                    img{
                        width: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }
    .reviews{
        .reviews__content{
            .reviews__opacity{
                display: none;
            }
            .reviews__slider{
                .slider__block{
                    max-width: 250px;
                    height: 400px;
                    p{
                        padding-top: 45px;
                        font-size: 15px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .compositions{
        .compositions__text{
            padding: 41px 0 41px;
            .container{
                p{
                    font-size: 20px;
                    line-height: 30px;
                }
                a{
                    font-weight: 800;
                    font-size: 25px;
                }
            }
        }
    }
    footer{
        .container{
            .footer__links{
                flex-wrap: wrap;
                .links__block{
                    width: 100%;
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
@media(max-width:550px){
    .container{
        max-width: 320px;
    }
    .header__menu{
        width: 100%;
        padding: 0;
        padding-left: 35px;
        top: 0;
        left: 0;
        a{  
            font-size: 24px;
            line-height: 55px;
            img{
                margin-left: 16px;
            }
        }
        .menu__sub{
            a{
                font-size: 15px;
                line-height: 30px;
            }
        }
        .burger{
            width: 70%;
            margin-top: 45px;
        }
    }
    .main{
        .container{
            h1{
                display: none;
            }
            a{
                display: none;
            }
        }
        .mobile{
            display: flex;
            flex-direction: column;
        }
        h1{
            font-size: 30px;
            line-height: 40px;
            margin-top: 400px;
            padding: 42px 0;
            background: url("../IMG/logo fon.svg") center no-repeat;
            background-size: contain;
        }
        a{
            width: 5%;
            text-align: center;
            margin: 0 auto;
            margin-top: 64.5px;
            transition: all linear .5s;
            img{
                width: 41px;
                height: 16px;
            }
        }
        a:hover{
            cursor: pointer;
            opacity: .5;
            img{
                width: 50px;
                height: 20px;
            }
        }
    }
    .about{
        .container{
            padding: 40px 0;
            .about__buttons{
                a{
                    font-size: 13.125px;
                    line-height: 26px;
                }
            }
            p{
                padding: 0;
            }
        }
    }
    .product{
        .container{
            padding: 46px 0 54px;
            h2{
                padding: 0;
            }
        }
    }
    .reviews{
        padding: 40px 0;
        .container{
            h2{
                width: 70%;
                padding:0;
                margin: 0;
                margin-bottom: 40px;
            }
        }
        .reviews__content{
            .reviews__slider{
                display: none;
            }
            .reviews__slidermob{
                display: block;
            }
        }
    }
    .conditions{
        padding-bottom: 40px;
        .container{
            h2{
                width: 80%;
                padding: 30px 0;
                margin-bottom: 30px;
            }
        }
        .conditions__tet{
            box-shadow: inset 0px 0px 20px rgba(126, 126, 126, 0.3);
            margin: 0;
            margin: 2px 0;
            .container{
                p{
                    width: 95%;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 40px;
                }
                a{
                    width: 16px;
                    margin: auto;
                    img{
                        width: 16px;
                    }
                }
                p:last-child{
                    font-size: 12px;
                }
            }
        }
    }
    .partner{
        width: 100%;
        padding-bottom: 123px;
        .container{
            h2{
                width: 100%;
                padding: 30px 0;
                padding-left: 16px;
                margin: 0;
            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                text-align: left;
                padding: 50px 0 80px;
            }
        }
        .partner__slider2{
            display: flex;
        }
    }
    .compositions{
        .container{
            h2{
                padding: 30px 0;
                padding-left: 16px;
                margin: 0;
                margin-bottom: 23px;
                font-size: 26.0478px;
                line-height: 25px;
            }
        }
        .compositions__text{
            padding: 35px 0 41px;
            .container{
                p{
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
    }
    footer{
        .container{
            .footer__links{
                flex-wrap: wrap;
                .links__block{
                    width: 100%;
                    p{
                        font-size: 18px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}
@keyframes menu{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}