body {
  font-family: 'Gilroy';
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #111;
  z-index: 1001;
}

.preloader__image {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../IMG/loader.gif") no-repeat;
  background-size: contain;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 90px;
  text-transform: uppercase;
  color: #353F63;
  margin: 0;
  padding-left: 30px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
}

p {
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  text-transform: uppercase;
  color: #353F63;
}

.container {
  width: 100%;
  max-width: 1163px;
  margin: 0 auto;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(8, 8, 9, 0.5);
}

header {
  width: 100%;
  background: #080809;
  padding: 55px 0 26px;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .header__logo {
  margin: auto 0;
}

header .container .header__text {
  display: flex;
  margin: auto 0;
}

header .container .header__text p {
  padding-right: 45px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}

header .container .header__text a {
  margin: auto 0;
}

header .container .header__text a span {
  width: 66px;
  height: 4px;
  display: block;
  margin-bottom: 5px;
  background: #F8F8F8;
}

header .container .header__text a:hover span {
  background: #c7c7c7;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
}

.header__menu {
  width: 640px;
  height: 800px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: #F8F8F8;
  padding-left: 40px;
  padding-top: 65px;
  padding-right: 140px;
  animation: menu .3s linear forwards;
}

.header__menu a {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 55px;
  color: #080809;
  padding-bottom: 10px;
}

.header__menu a img {
  margin-left: 16px;
}

.header__menu a:hover {
  color: #53535c;
}

.header__menu .burger {
  width: 100%;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.header__menu .burger a {
  width: 10%;
}

.header__menu .burger a span {
  width: 66px;
  height: 4px;
  display: block;
  margin-bottom: 5px;
  background: #080809;
}

.header__menu .burger a:hover span {
  background: #53535c;
}

.header__menu .menu__sub a {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.header__menu .rot {
  transform: rotate(-45deg);
}

.main {
  width: 100%;
  height: 351px;
  display: flex;
  background: url("../IMG/modern.png") center no-repeat;
  background-size: 100%;
}

.main .container {
  height: 570px;
  padding: 35px 0px 20px;
  background: rgba(8, 8, 9, 0.2);
  backdrop-filter: blur(15px);
}

.main__imp {
  width: 100%;
  height: 351px;
  display: flex;
  background: url("../IMG/modern.png") center no-repeat;
  background-size: 100%;
}

.main__imp .container {
  height: 470px;
  padding: 35px 0px 20px;
  background: rgba(8, 8, 9, 0.2);
  backdrop-filter: blur(15px);
}

.main__cont {
  width: 100%;
  display: flex;
  background: url("../IMG/modern.png") center no-repeat;
  background-size: 100%;
}

.main__cont .container {
  padding: 61px 0px;
  background: rgba(8, 8, 9, 0.2);
  backdrop-filter: blur(15px);
}

.main__cont .container h2 {
  padding: 0;
  padding-left: 33px;
}

.main__cont .container p {
  padding-left: 33px;
  margin: 0;
}

.modern {
  margin-top: 350px;
  margin-bottom: 97px;
  width: 100%;
  background: #F8F8F8;
  box-shadow: inset 0px 0px 30px #B0B0B0;
}

.modern .container p {
  margin: 0;
  padding: 60px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-transform: none;
  color: #353F63;
}

.modern__imp {
  margin-top: 300px;
  margin-bottom: 97px;
  width: 100%;
  background: #F8F8F8;
  box-shadow: inset 0px 0px 30px #B0B0B0;
}

.modern__imp .container p {
  margin: 0;
  padding: 60px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-transform: none;
  color: #353F63;
}

.modern__imp .container .imp__left {
  width: 60%;
}

.modern__imp .container .imp__left h2 {
  padding: 0;
  padding-top: 54px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 70px;
  color: #080809;
  text-transform: none;
}

.modern__imp .container .imp__left p {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #080809;
}

.modern__imp .container .imp__left span {
  width: 100%;
  height: 1px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.modern__imp .container .imp__left p:last-child {
  padding-bottom: 101px;
}

.service__imp {
  margin-top: 300px;
  width: 100%;
  background: #F8F8F8;
  box-shadow: inset 0px 0px 30px #B0B0B0;
}

.service__imp .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.service__imp .container .imp__left {
  width: 60%;
}

.service__imp .container .imp__left h2 {
  padding: 0;
  padding-top: 54px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 34px;
  color: #080809;
  text-transform: none;
}

.service__imp .container .imp__left p {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #080809;
  text-transform: none;
  margin: 0;
}

.service__imp .container .imp__left span {
  width: 100%;
  height: 1px;
  display: block;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.service__imp .container .imp__left p:last-child {
  padding-bottom: 101px;
}

.service__imp .container .imp__right {
  width: 30%;
  max-width: 360px;
  height: 474px;
  padding: 22px 33px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 2px #DADADA;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  margin-bottom: 104px;
  position: sticky;
  top: 54px;
  right: 0;
  z-index: 5;
}

.service__imp .container .imp__right h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
  color: #080809;
  text-align: center;
  margin-bottom: 17px;
}

.service__imp .container .imp__right a {
  width: 100%;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #080809;
  transition: all linear .3s;
  margin-bottom: 10px;
  padding: 4px 0;
  padding-left: 7px;
}

.service__imp .container .imp__right a:hover {
  background: #353F63;
  color: #FFFFFF;
}

.contacts {
  padding: 54px 0;
}

.contacts .container h3 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  text-transform: uppercase;
  color: #353F63;
  padding-left: 33px;
  margin: 0;
}

.contacts .container p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #353F63;
  padding-left: 33px;
  margin: 0;
  margin-bottom: 35px;
}

footer {
  width: 100%;
  padding: 45px 0;
  background: #080809;
}

footer .container .footer__logo {
  display: flex;
}

footer .container .footer__logo p {
  font-weight: 600;
  font-size: 18px;
  color: #F8F8F8;
  margin: 0;
  margin-left: 27px;
}

footer .container .footer__text {
  width: 100%;
  border-bottom: 1px solid #F8F8F8;
}

footer .container .footer__text p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #F8F8F8;
  margin: 0;
  margin-top: 42px;
  line-height: 150%;
  padding-bottom: 19px;
}

footer .container .footer__links {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

footer .container .footer__links .links__block {
  display: flex;
}

footer .container .footer__links .links__block p {
  padding-left: 10px;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

@media (max-width: 1160px) {
  .container {
    max-width: 800px;
  }
  .preloader {
    background: black;
  }
  .preloader__image {
    top: 30%;
  }
  p {
    font-size: 35px;
    line-height: 37px;
  }
  .main .container {
    height: 400px;
  }
  .main__imp .container {
    height: 350px;
  }
  .modern {
    margin-top: 150px;
  }
  .modern .container p {
    font-size: 20px;
    line-height: 30px;
  }
  .modern__imp {
    margin-top: 150px;
  }
  .modern__imp .container p {
    font-size: 20px;
    line-height: 30px;
  }
  .service__imp {
    margin-top: 150px;
  }
  .service__imp .container .imp__left h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .service__imp .container .imp__left p {
    font-size: 15px;
    line-height: 20px;
  }
  .service__imp .container .imp__right {
    height: 400px;
  }
  .service__imp .container .imp__right h3 {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 17px;
  }
  .service__imp .container .imp__right a {
    font-size: 15px;
    line-height: 20px;
  }
  footer .container .footer__links {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 500px;
  }
  .preloader {
    background: black;
  }
  .preloader__image {
    top: 30%;
  }
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
  p {
    font-size: 25px;
    line-height: 30px;
  }
  .header__menu {
    width: 100%;
    padding: 0;
    padding-left: 35px;
    top: 0;
    left: 0;
  }
  .header__menu a {
    font-size: 24px;
    line-height: 55px;
  }
  .header__menu a img {
    margin-left: 16px;
  }
  .header__menu .menu__sub a {
    font-size: 15px;
    line-height: 30px;
  }
  .header__menu .burger {
    width: 70%;
    margin-top: 45px;
  }
  .service__imp {
    margin-top: 150px;
  }
  .service__imp .container .imp__left {
    width: 100%;
  }
  .service__imp .container .imp__left h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .service__imp .container .imp__left p {
    font-size: 15px;
    line-height: 20px;
  }
  .service__imp .container .imp__right {
    display: none;
    height: 400px;
  }
  .service__imp .container .imp__right h3 {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 17px;
  }
  .service__imp .container .imp__right a {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 320px;
  }
  .header__menu {
    width: 100%;
    padding: 0;
    padding-left: 35px;
    top: 0;
    left: 0;
  }
  .header__menu a {
    font-size: 24px;
    line-height: 55px;
  }
  .header__menu a img {
    margin-left: 16px;
  }
  .header__menu .menu__sub a {
    font-size: 15px;
    line-height: 30px;
  }
  .header__menu .burger {
    width: 70%;
    margin-top: 45px;
  }
  h2 {
    padding: 0;
    padding: 12px 8px;
    font-size: 36px;
    line-height: 40px;
    background: rgba(8, 8, 9, 0.2);
    backdrop-filter: blur(15px);
  }
  p {
    font-size: 18px;
    line-height: 25px;
    color: #353F63;
    font-weight: 500;
  }
  .main__eng {
    width: 100%;
    height: 375px;
    background-size: cover;
  }
  .main__eng .container {
    height: 420px;
    padding: 35px 0px 20px;
    background: none;
    backdrop-filter: none;
  }
  .main {
    width: 100%;
    height: 375px;
    background-size: cover;
  }
  .main .container {
    height: 420px;
    padding: 35px 0px 20px;
    background: none;
    backdrop-filter: none;
  }
  .main__imp {
    width: 100%;
    height: 375px;
    background-size: cover;
  }
  .main__imp .container {
    height: 420px;
    padding: 35px 0px 20px;
    background: none;
    backdrop-filter: none;
  }
  .modern {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .modern .container {
    width: 90%;
    max-width: 377px;
  }
  .modern .container p {
    font-size: 16px;
    line-height: 35px;
  }
  .modern__imp {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .modern__imp .container {
    width: 90%;
    max-width: 377px;
  }
  .modern__imp .container p {
    font-size: 16px;
    line-height: 35px;
  }
  .service__imp {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .service__imp .container {
    width: 90%;
    max-width: 377px;
  }
  .service__imp .container h2 {
    background: none;
    font-size: 24px;
    line-height: 24px;
  }
  .service__imp .container p {
    font-size: 16px;
    line-height: 25px;
  }
  .engenering .container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .engenering .container .engenering__block {
    width: 305px;
  }
  footer .container .footer__links {
    flex-wrap: wrap;
  }
  footer .container .footer__links .links__block {
    width: 100%;
  }
  footer .container .footer__links .links__block p {
    font-size: 18px;
    line-height: 20px;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
